<div class="vertical-nav bg-blue-custom" id="sidebar">
  <div class="d-flex justify-content-center mb-5">
    <img src="/assets/logo.png" class="logo">
  </div>

  <ul class="nav flex-column mb-0">
    <li class="nav-item d-flex justify-content-center">
      <a href="#" class="nav-link text-white font-italic">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>
    </li>
    <li class="nav-item d-flex justify-content-center">
      <a href="#" class="nav-link text-white font-italic">
        <fa-icon [icon]="faStar"></fa-icon>
      </a>
    </li>
  </ul>

</div>
