<div class="header d-flex bg-white border-bottom shadow-sm">
  <div class="p-3 col-7 flex-column">
    <div>
      <h2 class="jumbotron-heading">Nova Admissão Cooperado</h2>
      <p class="lead text-muted">Cadastro / Associado</p>
    </div>
  </div>
  <div class="p-3 col-5  my-auto d-flex justify-content-end">
    <div class="d-flex">
      <div class="p-2 my-auto">
        <button class="btn btn-default">
          <fa-icon [icon]="faBell"></fa-icon>
          <span class="badge badge-light">4</span>
        </button>
      </div>
      <div class="p-2 my-auto">
        <div>
          <button
            class="btn btn-default btn-sm border-primary font-weight-bold rounded-pill text-primary text-uppercase">
            viacredi
          </button>
        </div>
      </div>
      <div class="p-2">
        <a href="#" class="avatar">
          <img alt="Image placeholder"
               src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg"
               class="border border-primary">
        </a>
      </div>
    </div>
  </div>
</div>
