/* You can add global styles to this file, and also import other style files */
body{
  background-color: #f7f7f9 !important;
}
.btn-primary{
  background-color: #165C7D !important;
  border-color: #165C7D !important;
}
.text-primary, .border-primary{
  color: #165C7D !important;
  border-color: #165C7D !important;
}
